<html>
<head>

</head>

<body>
    <form action="/predict" method="POST">
            <h1>california house prediction </h1>
            
        <label><b> longitude </b>        : </label> <input type="number" name = "longitude"> <br> <br>
        <label> <b>latitude    </b>      : </label> <input type="number" name = "latitude"> <br> <br>
        <label> <b>housing_median_age</b>: </label> <input type="number" name = "housing_median_age"> <br> <br>
        <label> <b>total_rooms	     </b> : </label> <input type="number" name = "total_rooms"> <br> <br>
        <label> <b>total_bedrooms  <b>  : </label> <input type="number" name = "total_bedrooms"> <br> <br>
        <label> <b>population	    <b>  : </label> <input type="number" name = "population"> <br> <br>
        <label> <b>households	    </b>  : </label> <input type="number" name = "households"> <br> <br>
        <label> <b>median_income   </b>  : </label> <input type="number" name = "median_income"> <br> <br>
        <label> <b>ocean_proximity </b>  : </label> <input type="text" name = "ocean_proximity"> <br> <br>
        <input type="submit" value="Predicted">
            
    </form>
     {{final_price}}
     <b>
        
    </b>
     <form>
        <label>longitude(e.g=-122)</label><br> <br>
        <label>latitude(e.g=37)</label><br> <br>
        <label>housing_median_age(e.g=50)</label><br> <br>
        <label>total_rooms(e.g=8)</label><br> <br>
        <label>total_bedrooms(e.g=4)</label><br> <br>
        <label>population(e.g=12)</label><br> <br>
        <label>households(e.g=20)</label><br> <br>
        <label>median_income(e.g= 0-10)</label><br> <br>
        <label>ocean_proximity(e.g= NEAR BAY , INLAND, ISLAND, NEAR OCEAN)</label><br> <br>


    <form>

</body>
</html>